.cursor-pointer {
    cursor: pointer;
}

.edit-color {
    color: #4285f4;
}

.delete-color {
    color: #ea4335;
}

.breadcrumb {
    background: transparent !important;
    padding: 7px 20px 6px 0 !important;
}

.dataTables_paginate {
    &.paging_simple_numbers {
        margin: 10px 20px 20px 0 !important;
    }
}

.dataTables_filter {
    text-align: right;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
    bottom: 0.3em !important;
}
table.dataTable {
    tbody {
        tr {
            td {
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
}

.form-control-xs {
    height: 20px !important;
}
.input-range {
    width: 65px !important;
}