.send-alert {
    margin-top: 20px;
    display: none;
    padding: 8px 20px 5px;
    background: transparent;
    border-radius: 0;
    font-weight: 300;
    font-size: 16px;
    margin: 20px 30px;

    ul {
        margin: 0;

        li {
            font-size: 13px;
            line-height: 20px;
        }
    }

    p {
        margin: 0;
    }

    &.error {
        border: 1px solid $red;
        background: $red;
        color: $white;
    }

    &.success {
        border: 1px solid $green;
        background: $green;
        color: $white;
    }
}